.first {
    background-image: url("/assest//img/images\ \(7\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: aqua; */
    height: 35rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

button {
    background-color: purple;
    padding: 0.8rem;
}

/* .lol {
    justify-content: space-between;
    width: 50%;
    margin-left: 21rem;
    height: 3rem;
} */
.destination-card img{
    border-radius: 0.5rem;
}

.rating5 {
    padding-left: 6rem;
}

.rating4 {
    padding-left: 4rem;
}

.rating2 {
    padding-left: 4rem;
}

/* .rating42 {
  padding-left: 0.03rem;
} */

.showcase-content {
    text-align: center;
    color: #fff;
    font-size: 25px;
  }
  .showcase-content h1 {
    margin-bottom: 42px;
  }
  .showcase-content a {
    text-align: center;
    /* font-size: 1.8rem; */
    margin-top: 32px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    background: var(--primary-color);
    padding: 1.8rem 2.4rem;
    border-radius: 1.2rem;
  }
  
  .showcase-content a:hover {
    background: var(--primary-color);
    opacity: 0.9;
  }
  
  .showcase-search {
    margin: auto;
    background-color: white;
    border-radius: 12px;
    margin-top: 80px;
  }
  
  .filters {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-shrink: 10px;
    flex: 10;
    /* padding-left: 6rem; */
  }
  
  .filter {
    justify-content: space-between;
    align-items: center;
    display: flex;
    line-height: 1.6;
    
    border-right: 1px solid rgba(194, 193, 193, 0.1);
    padding-right: 1.5rem;
  }
  .filter h4 {
    color: #5b5b5b;
    /* font-weight: 300; */
  }
  /* .filter h2 {
    font-weight: 500;
  } */
  .search-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1.5rem;
    border-radius: 10px;
  }
  .search-button-icon:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .popular {
    padding-top: 7rem;
  }

  .icons {
    padding-top: 6rem;
  }

  .avenger {
    padding-left: 1rem
  }

  .message {
    padding-left: 1rem;
  }

  .tips1 img{
    border-radius: 0.5rem;
  }

  .tips2 img{
    border-radius: 0.5rem;
  }

  .icons2 {
    padding-top: 7.5rem;
  }

  .footer {
    padding-top: 4rem;
  }